@media screen and (max-width:992px) {
    .cm-sec3-card {
        width: 30%;
    }
}

@media screen and (max-width:787px) {
    .cm-section-1 h1{
        font-size: 2.5rem;
    }
    .cm-sec3-card {
        width: 48%;
    }
    .imageform {
        width: 70%;
    }

}

@media screen and (max-width:576px) {
    .cm-section-1 h1{
        font-size: 2rem;
    }
    .cm-input-feilds input, select, .cm-categories form>input{
        width: 100%;
    }
    .cm-sec3-card {
        width: 100%;
    }
    .imageform {
        width: 90%;
    }

    
}