*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#aof-section-1{
    background-image: url("./images/mai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
h1{
    text-align: center;
    color:#DB0007;
    font-weight: bold;
    font-size: 3rem;
    margin: 2% 0 5%;
}
.aof-card{
    width: 32%;
}
.aof-cards{
    margin: 60px 0;
    justify-content: space-between;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.aof-card h4{
    font-weight: bold;
    color:#DB0007;
    margin: 5% 0;
}